<div id="#menu" style="clear: both; height: 3em">
  <%= link_to_unless_current "Dashboard", :controller => "dashboard", :action => "index" %>,
  <% if TTT_CONFIG['gui_options'] && TTT_CONFIG['gui_options']['have_slow_query'] %>
    <%= link_to_unless_current "Slow Queries", :controller => "slow_queries", :action => "index" %>,
  <% end %>
  <%= link_to_unless_current "Servers", servers_path %>,
  <%= link_to_unless_current "Databases", databases_path %>,
  <%= link_to_unless_current "History", history_path %>,
  <%= link_to_unless_current "All Graphs", graphs_path %>
<div style="float:right"><% form_tag(:search, :method => 'get') do %><%= label_tag(:q, "Search:") %><%= text_field_tag(:q, '', :size => 32) %><% end %>
  <% form_tag({:controller => :search, :action => 'server_sel'}, :method => 'get') do %><%= select_tag(:server, options_from_collection_for_select(TTT::Server.all, :name, :name)) %><%= submit_tag("go") %><% end %>
  <% unless since_t.nil? %>
    Displaying changes since: <span class="bold"><%= time_ago_in_words since_t %> ago</span>
  <% end %>
<% form_tag({}, {:method => "get"}) do %><%= label_tag 'since', "  Change: " %><%= text_field_tag 'since', since_str, :size => 8 %><% end %>
</div>
<br/>
